{% extends '@management/layout.html.twig' %}

{% block content %}
    <header class="py-3 mb-4 border-bottom">
        <div class="container d-flex flex-wrap justify-content-center">
            <div href="/"
                 class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis">
                <span class="fs-4">{{ title | trans }}</span>
            </div>
        </div>
    </header>

    <div class="py-3 mb-3 border-bottom container">
        {{ form(form) }}
    </div>
{% endblock %}
