<div class="card">
    <div class="card-header">{{ 'terminal.status.steps.registered' | trans }}</div>
    <div class="card-body text-center p-5">
        <img style="max-width: 150px" src="{{ qr }}" alt="QRCode"/>
    </div>
</div>
