<div class="card">
    <div class="card-header">{{ 'terminal.status.steps.successfully' | trans }}</div>
    <div class="card-body text-center p-5">
        <img style="max-width: 200px" src="{{ asset('build/images/check.svg') }}"
             alt="QRCode"/>
    </div>
</div>
