<div class="mb-2 bg-light">
    <h5 class="bg-secondary w-100 text-white p-2">{{ 'payment.logs.title' | trans }}</h5>
    <div class="p-2">
        {% if payment.logs | length > 0 %}
            {% for log in payment.logs %}
                <div class="mb-2">
                    <div class="text-muted">[ {{ log.time | date('Y-m-d H:i:s') }} ]: {{ log.value }} </div>
                </div>
                <hr />
            {% endfor %}
        {% else %}
            <div class="">{{ 'payment.logs.empty' | trans }}</div>
        {% endif %}
    </div>
</div>
