{% extends '@main/layout.html.twig' %}

{% block title %}
    {{ 'terminal.title' | trans }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('checkStatus') }}
{% endblock %}

{% set paymentStatus = enum('\\App\\Domain\\Enum\\PaymentStatusEnum') %}
{% set waitingStatus = [ paymentStatus.new, paymentStatus.token ] %}

{% block content %}
    <div class="h-75 d-flex align-items-center justify-content-center">
        <div class="my-auto">
            {% if payment.status == paymentStatus.awaiting %}
                {% embed '@terminal/status/qr.html.twig' with {'qr': payment.qr.image} %}{% endembed %}
            {% endif %}

            {% if payment.status in waitingStatus %}
                {% embed '@terminal/status/awaiting.html.twig' %}{% endembed %}
            {% endif %}

            {% if payment.status == paymentStatus.successfully %}
                {% embed '@terminal/status/successful.html.twig' %}{% endembed %}
            {% endif %}

            {% if payment.status == paymentStatus.failure %}
                {% embed '@terminal/status/failure.html.twig' %}{% endembed %}
            {% endif %}
        </div>
    </div>
    <div id="payment" data-state="{{ payment.status.name }}" data-id="{{ payment.id }}"></div>
{% endblock %}
