{% extends '@payments/layout.html.twig' %}

{% block content %}
    <header class="py-3 mb-4 border-bottom">
        <div class="container d-flex flex-wrap justify-content-center">
            <div href="/"
                 class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis">
                <span class="fs-4">{{ 'payment.title.name' | trans }}: {{ payment.id }}</span>
            </div>
        </div>
    </header>
    <div class="container">
        <h3>{{ 'payment.title.details' | trans }}</h3>
        <div class="mt-5">
            {% embed '@component/payment.details.html.twig' with {'payment': payment} %}{% endembed %}
        </div>
        <div class="mt-5">
            {% embed '@component/payment.flow.html.twig' with {'payment': payment} %}{% endembed %}
        </div>
        <div class="mt-5">
            {% embed '@component/payment.logs.html.twig' with {'payment': payment} %}{% endembed %}
        </div>
    </div>
{% endblock %}
